<!DocType html>
<html>
    <head>
            <link rel="icon" href="/Image/weather.png">
        <link rel="stylesheet" href="/css/Style.css">
    </head>
    <body>
      <div class="main-content">
        {{>header}}
       
        <p>{{helptext}}</p>
        
      </div>
        {{>Footer}}
    </body>
</html>
